{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "rules": {
    "no-multi-spaces": "error",
    "no-dupe-args": "error",
    "no-dupe-keys": "error",
    "no-duplicate-case": "error",
    "no-empty": "error",
    "no-extra-semi": "error",
    "no-unreachable": "error",
    "curly": "error",
    "default-case": "error",
    "dot-location": ["error", "property"],
    "no-else-return": "error",
    "no-empty-function": "error",
    "no-eval": "error",
    "no-loop-func": "error",
    "no-multi-str": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-new": "error",
    "no-redeclare": "error",
    "no-return-assign": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-unmodified-loop-condition": "error",
    "no-with": "error",
    "radix": "error",
    "wrap-iife": ["error", "any"],
    "yoda": "error",
    "no-undef-init": "error",
    "no-undefined": "error",
    "no-unused-vars": "error",
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": "error",
    "brace-style": "error",
    "comma-dangle": ["error", "never"],
    "comma-spacing": ["error", {"before": false, "after": true}],
    "comma-style": ["error", "last"],
    "eol-last": ["error", "always"],
    "func-call-spacing": "error",
    "new-parens": "error",
    "newline-before-return": "error",
    "no-multiple-empty-lines": "error",
    "no-trailing-spaces": "error",
    "quotes": ["error", "single"]
  }
}